// 서브페이지 상단 

.header-sub {
	background: $white;
	border-bottom: 1px solid $gray_C3;

}

.sub-nav-list {
	padding-top: 101px;
	background: $beige;

	ul {
		max-width: $maxwidth;
		margin: 0 auto;
		display: flex;
		justify-content: space-evenly;
	
		a {
			display: block;
			text-align: center;
			padding: 15px 20px;
			@include medium-17;
		}
		.active {
			color: $primary;
		}
	}
}

.sub-banner {
	position: relative;

	.bnr-img {
		height: 400px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: brightness(28%);
			border-radius: 0
		}
	}
	.bnr-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	img {
		display: block;
		width: 75%;
		margin: 0 auto;
	}
	p {
		text-align: center;
		color: $white;
		@include medium-17;
		line-height: 1.7;
		margin-top: 10px;
	}
	}
}

// 서브페이지 상단 카테고리 배너부분 - 모바일
@media screen and (max-width: $breakpoint-mb) {
	.sub-banner {
		padding-top: 101px;
		.bnr-img {
			height: 300px;
		}
		.bnr-text {
			transform: translate(-50%, -30%);

			img {
				width: 100%;
			}
			p {
				display: block;
				width: 150%;
				@include regular-15;
				line-height: 1.7;

			}
		}
	}

}


// 서브페이지 메인 컨텐츠 화면
.wrap {
	background: $white;

}
.contents-wrap {
	max-width: $maxwidth;
	margin: 0 auto;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	gap: 45px;
.contents {
	display: flex;
	gap: 50px;
	padding: 50px 70px;
	background: $gray_F8;
	position: relative;
	
	.class-box {
		border: 1px solid $coffeeclass;
		width: 36%;
		height: 385px;
	}
	.class {
		border: 1px solid $coffeeclass;
		height: 96%;
		margin: 8px;
		position: relative;
		img {
			display: none;
			position: absolute;
			top: -50px;
			left: 50%;
			transform: translateX(-50%);
			background: $gray_F8;
			padding: 0 10px;
		}
		.class-number {
			@include semibold-21;
			color: $coffeeclass;
			text-align: center;
			padding-top: 40px;
		}
		
	}
	.class-text {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
		padding-top: 20%;
		// justify-content: center
		h2 {
			@include semibold-41;
			text-align: center
		}
		p {
			@include regular-17;
			text-align: center;
			line-height: 1.5;
		}
	}
	.text-box {
		width: 74%;
		padding: 5% 0;
		// position: relative;
		h3 {
			@include semibold-27;
			text-align: left;
		}
		.class-list {
			padding-top: 10px;
			li {
				padding: 3px 0;
			}
		}

	}
	.start-btn {
		position: absolute;
		right: 5%;
		bottom: 10%;
		border: 1px solid $gray_C3;
		background: $white;
		transition: all 0.5s ease;
		a {
			display: block;
			padding: 10px 43px;
			@include semibold-21;
			letter-spacing: 3px;
			transition: all 0.5s ease;

		}
		&:hover {
			background: $coffeeclass;
			border: none;
			a {
				color: $white;
			}
		}
	}
}
}

// 서브페이지 - 메인컨텐츠 부분 - 모바일
@media screen and (max-width: $breakpoint-mb) {
	.contents-wrap {
		.contents {
			padding: 0;
			.class-box {
				width: 100%;
			}
		
			.text-box {
				display: none;
			}
			.start-btn {
				right: 50%;
				transform: translateX(50%);
			}
			.class2 {
				padding-top: 12%;
			}
			.class-text {
				h2 {
					@include semibold-35;
				}
			}
		}
	}

}