// .design_pc {
// 	position: absolute;
// 	top: 0;
// 	left: 50%;
// 	transform: translateX(-50%);
// 	opacity: 0.3;
// 	z-index: -1;
// }

.position-wrap {
  position: relative;
}


// 메인비디오
.main-video {
  width: 100%;
}

// 메인비디오 - 모바일
@media screen and (max-width: $breakpoint-mb) {
	.main-video {
		height: 100vh;
		object-fit: cover;
	  }
	  
}

// 메인
.wrap {
  overflow: hidden;
}

// .wrap {
// 	max-width: $maxwidth;
// 	margin: 0 auto;
// }

// wrap - 모바일
@media screen and (max-width: $breakpoint-mb) {
	.wrap {
	padding: 0 $mb-padding;}
}


// sec-01 뉴스소식
.sec-01 {
	max-width: $maxwidth;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 100px;
  a {
    @include regular-17;
	letter-spacing: -1px;
  }

  .contents {
    height: 130px;
  }
  .sec-01-tit {
	width: 100%;
	padding-bottom: 14px;
	a {
    @include semibold-19;
}}

  .more-tit {
    a {
      @include semibold-15;
    }
  }

  .news {
    width: 40%;
    a {
      display: block;
      padding: 4.5px 0;
    }
  }
  .social {
    width: 40%;
    ul {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      width: 44%;
    }
    a {
      display: block;
      padding: 4.5px 0;
    }
  }
  .stock {
    width: 20%;
    .price {
      display: flex;
      align-items: center;
      gap: 20px;
      p {
        @include bold-33;
      }
    }
    .date {
      display: block;
      @include semibold-15;
      padding-top: 10px;
    }
  }
}

// sec-01 모바일버전
@media screen and (max-width: $breakpoint-mb) {
	.sec-01 {
		flex-direction: column;
		.contents-box {
			border-bottom: 1px solid $gray_E3;
			display: flex;
			justify-content: space-between;
			width: 100%;
			position: relative;
		}
		.sec-01-tit {
			padding: 0;
			a {
				display: block;
				width: 100%;
				padding: 22px 0;
			}
		}
		.contents {
			display: none;
		}
		.more-tit {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			a {
				padding: 37% 0;
				&::after {
				position: static;
					font-size: 19px;
				}
			}
			p {
				display: none;
			}
		}
		
	}
	
}


// sec-02 소개배너
.sec-02 {
  // height: 753px;
  max-width: $maxwidth;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 260px;
  position: relative;
  .sec-tit {
    padding: 0;
    text-align: left;
  }
  .sec-tit-box {
	width: 68%;
  }
  .sec-sub-tit {
	text-align: left;
  }
  .sec-02-img {
	img {
		width: 100%;
	}
  }

}

// sec-02 모바일
@media screen and (max-width: $breakpoint-mb) {
	.sec-02 {
		flex-direction: column;
		align-items: flex-start;
		padding-bottom: 142px;
		.sec-02-img {
			width: 100%;
		  }
		.sec-tit-box {
			width: 100%;
		}
	}
}


// sec-03 브랜드 제품소개

.sec-03 {
  background: $gray_F8;
  height: 1410px;
  .sec-tit {
    padding-bottom: 5%;
	br {
		display: none;
	}
  }
  .more-tit {
    // display: none;
    padding-bottom: 30px;
    a {
      @include medium-25;
	  &::after {
		font-size: 31px;
		top: 27%;
	  }
    }
  }
  .move-container {
    display: flex;
    gap: 25px;
    width: 100%;
  }
  .img-box {
    width: 185px;
    height: 185px;
    background: $white;
    border-radius: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.sec-03-contents {
//   max-width: $maxwidth;
  max-width: 1670px;
  height: 100%;
  margin: -17% auto;
  margin-left: 14%;
  position: relative;
  overflow-x: hidden;
}
.sec-03-container {
  position: absolute;
  top: 20%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  // width: 300%;
}

// 애니메이션
.sec-03 {
  .move-container {
    animation: moveleft 20s linear infinite;
  }
  .move-right {
    animation: moveleft 30s linear reverse infinite;
  }
  @keyframes moveleft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

// sec-03 모바일
@media screen and (max-width: $breakpoint-mb) {
	.sec-03 {
		padding: 0 $mb-padding;
		height: 1030px;
		.img-box {
			width: 127px;
			height: 127px;
		}
		.more-tit {
			padding-bottom: 15px;		
		a {
			@include medium-23;
			&::after {
				transform: translateY(-41%);
			}
		}
	}
	.sec-tit {
		br {
			display: block;
		}
	}
	}
	.sec-03-contents {
		margin-left: 0;
	}
	.sec-03-container {
		top: 9%;
	}
}



// sec-04 다양한 이야기

// 공통
.sec-04 {
  max-width: $maxwidth;
  margin: 0 auto;
  height: 1070px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  h3 {
    color: $gray_C3;
  }
  .sec-tit-box {
	br {display: none;}
  }
  .sec-04-contents {
    display: flex;
    gap: 50px;
	margin-top: 45%;
    .txt-box {
      cursor: pointer;
    }
  }
  .txt-mb {display: none;}

  .img-box {
    display: none;
    width: 80%;
    position: relative;
	// a {
	// 	display: block;
	// 	height: 525px;
	// }
    .bnr-img {
      width: 100%;
      object-fit: cover;
      position: relative;
    }
	.bnr-img-mb {
		display: none;
	}
  }
}
// 항목별

.tab-1 {
	.bnr-text {
		width: 40%;
		position: absolute;
		top: 14%;
		left: 5%;
	}
}
.tab-2 {
  .bnr-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    img {
      width: 80%;
    }
    p {
      width: 105%;
      text-align: center;
      color: $white;
    }
  }
}
.tab-3 {
    .tab-box {
      display: flex;
      gap: 10px;
      .bnr-img {
        border-radius: 0;
      }
      .bnr-text {
        width: 35%;
      }
      .top-box {
        height: 46%;
        position: relative;
        border: 1px solid $gray_C3;
        margin-bottom: 10px;
        .title {
          position: absolute;
          top: 5%;
          left: 5%;
          span {
            display: block;
            @include light-17;
            padding: 7px 0;
          }
          p {
            @include light-45;
            font-weight: 100;
            line-height: 1.1;
          }
        }
        .date {
          position: absolute;
          bottom: 5%;
          right: 5%;
          @include light-19;
          letter-spacing: 0.5;
        }
      }

      .btm-box {
        background: $orange;
        padding: 15px;
        height: 50%;
        a {
          display: block;
          &:nth-child(2) {
            border-bottom: 1px solid $borderOrange;
          }
        }
        span {
          display: block;
          @include semibold-19;
          padding: 8px 0;
        }
        p {
          width: 80%;
          @include medium-13;
          padding-bottom: 10px;
        }
      }
    }
}
.tab-5 {
	.bnr-text {
		width: 100%;
		text-align: center;
		color: $white;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		@include medium-35;
		line-height: 1.3;
	  }
	  span {
		display: block;
		color: $white;
		@include light-15;
		padding-top: 10px;
	  }
	
}



// tab 활성화
.sec-04 {
  .tab {
    &.active .img-box {
      display: block;
      position: absolute;
      top: 33%;
      left: 50%;
      transform: translateX(-50%);
    }
    &.active h3 {
      color: $txtDefault;
    }
    &.active .txt-box {
      border-bottom: 5px solid $primary;
      padding-bottom: 5px;
    }
  }
}

// sec-04 모바일
@media screen and (max-width: $breakpoint-mb) {

	// css
	.sec-04 {
	padding: 0 $mb-padding;
	height: auto;
	padding-bottom: 150px;
	.sec-tit-box {
		br {
			display: block;
		}
	}
	.tab {
		width: 45%;
		h3 {
			@include semibold-19;
			color: $txtDefault;
		}
		&.active .txt-box {
		border-bottom: none;
		padding-bottom: 5px;
		}
		&.active .img-box {
			position: static;
			transform: none;
		}
		.bnr-text {
			display: none;
		}
	}
	.sec-04-contents {
		display: flex;
		flex-direction: column;
		margin-top: 0;
		width: 100%;
		gap: 0;
	}
	.mb-right {
		align-self: flex-end;
		margin-top: -35%;
	}
	.img-box {
		display: block;
		position: static;
		transform: none;
		width: 100%;
		height: 290px;
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
		.bnr-img {
			display: none;
		}
		.bnr-img-mb {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 77% 0;
			
		}
	}
	.txt-box {
		padding-top: 10px;
	}
	.txt-mb {
		display: block;
		text-align: center;
		@include regular-15;
		padding-top: 5px;

	}

	
	.tab-2 {
		.bnr-img-mb {
			object-position: 34% 0;
		}
	}
	.tab-3 {
		.bnr-img-mb {
			object-position: 67% 0;
		}
		.tab-box {
			display: none;
		}
	}
	}
	.tab-4 {
		.img-box {
		.bnr-img-mb {
			object-position: 66% 0;
		}}
	}
	.tab-5 {
		.img-box {
		.bnr-img-mb {
			object-position: 7% 0;
		}
	}
	}
}

// sec-04 tab AOS
[data-aos="tab-aos-pc"] {
	opacity: 0;
	transform: translateY(50px);
	transition: all 1s ease-in-out;
  
	&.aos-animate {
	  opacity: 1;
	  transform: translateY(0);
	}
  
	@media screen and (max-width: $breakpoint-mb) {
		transform: none;
		&.aos-animate {
			transform: none;
		  }
	}
}

[data-aos="tab-aos-mb"] {
	transform: none;
	&.aos-animate {
		transform: none;
	  }
  
	@media screen and (max-width: $breakpoint-mb) {
		opacity: 0;
	transform: translateY(50px);
	transition: all 1s ease-in-out;
  
	&.aos-animate {
	  opacity: 1;
	  transform: translateY(0);
	}
	}
  }

// sec-05 TV CF
.sec-05-wrap {
  background: $gray_F8;
  width: 100%;
	//   height: 1000px;
	padding: 0 $mb-padding;
}
.sec-05 {
	padding-bottom: 150px;
.img-box {
	display: block;
	width: 100%;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;

		// width: 590px;
		// height: 331px;
		border-radius: 10px

	}
}

.img-text {
	padding-top: 5px;
	span {
	  @include light-13;
	}
	p {
	  @include medium-17;
	  padding-top: 3px;
	  padding-bottom: 10px;
	}
	.more-tit {
		visibility: hidden;
	}
  }

  .swiper-wrapper {
	position: relative;
	padding: 30px 0 170px;
	}	
	.swiper-slide {		
	transform: scale(0.7) translateY(20%);
	opacity: 0.5;
	
	}
	.swiper-slide.swiper-slide-next {
	transform: scale(1.2) translateY(20%);
	opacity: 1;
	.more-tit {
		visibility: visible;
	}
	}

}
// sec-05 TV CF - 모바일

@media screen and (max-width: $breakpoint-mb) {
.sec-05 {
	padding-bottom: 85px;
	.swiper-wrapper {
		padding-bottom: 65px;
	}
	.swiper-slide {
		opacity: 1;
		transform: none;
		// transform: scale(1.0)translateY(20%);
	}
	.swiper-slide.swiper-slide-next {
		transform: none;
	}
}
}




// 풋터
#footer {
	position: relative;
}
.ft-wrap {
  display: flex;
  flex-direction: column;
  max-width: $maxwidth; 
  overflow: hidden;
  margin: 0 auto;
  padding: 40px 0 50px 0;


  hr {
    display: block;
    position: absolute;
	top: 80px;
	left: 0;
	z-index: 10;
	width: 120%;
  }

}
.ft-top-box {
  padding-bottom: 27px;
  ul {
    display: flex;
    gap: 30px;
    a {
      @include medium-13;
    }
  }
}

.ft-box {
  display: flex;
  justify-content: space-between;
  span {
    @include medium-15;
  }
  .ft-goto {
    display: flex;
    gap: 10px;
    align-items: center;
	
    .goto-site {
      width: 185px;
      height: 45px;
      border: 1px solid $gray_E3;
      border-radius: 10px;
	  position: relative;
	  &.active {
		span {
		@include icon-up;
		}	
	  }

    }
    span {
      display: inline-block;
      padding: 11px 0;
      padding-left: 20px;
	  @include icon-down;
	 
    }
  }
}

// 바로가기사이트
.ft-goto {
	.goto-site {
		position: relative;
	}
	.goto-list {
		display: none;
		position: absolute;
		bottom: 100%;
		left: 0;
		background: $gray_F8;
		width: 100%;
		z-index: 100;

		a {
			display: block;
			width: 100%;
			padding: 5px 0;
			padding-left: 20px;
		}
	}
}


// footer - 모바일
@media screen and (max-width: $breakpoint-mb) {
	.ft-wrap {
		padding: 40px 22px;
	}
	.ft-box {
		flex-direction: column;
		gap: 30px;
		span {
			@include semibold-17;
		}
		.ft-goto {
			flex-direction: column;
			
			.goto-site {
				width: 100%;
			}
			.goto-list {
				a { padding: 15px 20px;}
			}
		}
	}
	.ft-top-box {
		hr {
			display: none;
		}
		ul {
			a {
				@include semibold-15;
			}
		}
		li {
			&:nth-child(2) {
				display: none;
			}
			&:nth-child(4) {
				display: none;
			}
		}
	}
	.ft-adress{
		display: none;
	}
	.ft-number {
		display: flex;
		flex-direction: column;
		gap: 10px;
		span {
			display: block;
			@include medium-17;
		}
	}
	.ft-copyright {
		margin-top: 10px;
		span {
			@include regular-13;
		}
	}
	
}
