.design_pc {
	position: absolute;
	top: 0;
	left: -3%;
	opacity: 0.3;
	z-index: -1;
	max-width: 1920px;
}

.wrap {
	margin: 0 auto;
	max-width: 1280px;
}

#header {
	z-index: 1000;
	width: 100%;
	height: 107px;
	background: lightblue;
	opacity: 0.5;
	.inner {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;
	}
}

#logo {
	width: 143px;
	height: 43px;
	text-align: center;	
	// background-image: ;
}

.gnb-wrap {
	.nav-list {
		display: flex;
		justify-content: center;
	}
	.nav-list-depth1 {
		width: 140px;
		height: 107px;
		text-align: center;
		padding: 35px 0;
		a {
		@include semibold-21;}
	}
	.nav-list-depth2 {
		display: none;
	}
}