// .design_pc {
// 	position: absolute;
// 	top: 0;
// 	left: 50%;
// 	transform: translateX(-50%);
// 	opacity: 0.3;
// 	z-index: -1;
// }

.position-wrap {
	position: relative;
}

// 헤더

#header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100px;
	
	.hd-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	border-bottom: none;
	transition: all 0.1s ease;
	}
	.hd-inner {
		display: flex;
		max-width: 1280px;
		margin: 0 auto;
		height: 100px;
		align-items: center;
		gap: 50px;
	}

	.nav-bg {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		background: $white;
		width: 100%;
		height: 440px;
		display: none;
	}
}


.nav-list {
	display: flex;
	
	.nav-list-depth1{
		width: 190px;
		a {
			display: block;
			@include semibold-21;
			color: $white;
			text-align: center;
			padding: 38px 0;
			transition: all 0.1s ease;
		}
	}
	.nav-list-depth2 {
		position: absolute;
		top: 100%;
		z-index: 100;
		display: none;
		padding-top: 20px;
		li {
			width: 190px;
		}
		a {
			display: block;
			@include medium-17;
			font-weight: 500;
			color: $txtDefault;
			padding: 13px 0;
			transition: all 0.1s ease;
			&:hover {
				color: $primary;
			}
		}
	}
}

// 메인비디오

.main-video {
	width: 1920px;
}

// 메인

.wrap {
	max-width: 1280px;
	margin: 0 auto;
}

// sec-01 뉴스소식
.sec-01 {
	display: flex;
	justify-content: space-between;
	padding: 60px 0 150px;
	a {
		@include medium-17
	}
	.contents-box {
		width: 33.333%;
	}
	.contents {
		height: 145px;
	}
	.sec-01-tit {
		@include semibold-19;
		padding-bottom: 14px;
	}

	.more-tit {
		a {
			@include semibold-15;
		}
	}

	.news {
		a {
			display: block;
			padding: 4.5px 0;
		}
	}
	.social {
		ul {
			display: flex;
			flex-wrap: wrap;
		}
		li {
			width: 50%;
		}
		a {
			display: block;
			padding: 4.5px 0;
		}
	}
	.stock {
		.price {
			display: flex;
			align-items: center;
			gap: 20px;
			p {
				@include bold-33;
			}
		}
		.date {
			@include semibold-15;
			padding-top: 10px;
		}
	}
}

// sec-02 소개배너
.sec-02 {
	// height: 753px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 180px;
	position: relative;
	.sec-tit {
		padding: 0;
		text-align: left;
	}
	.sec-02-img {
		width: 55%;
	}
	img {
		width: 100%;
	}
}

// sec-03 브랜드 제품소개

.sec-03-wrap {
	height: 1940px;
}
.sec-box {
	max-width: 1280px;
	margin: 0 auto;
}

.sec-03 {
	position: absolute;
	top: 210%;
	left: 0;
	width: 100%;
	background: $gray_F8;
	padding-bottom: 640px;
	// max-width: 1280px;
	// margin: 0 auto;
	// position: absolute;
	// top: 210%;
	// left: 0;
	.sec-tit {
		text-align: center;
		padding-bottom: 76px;
	}
	.sec-03-box {
		position: relative;
	}
	.sec-03-contents {
		display: flex;
		flex-direction: column;
		gap: 450px;
	}
	.sec-03-img {
		display: flex;
		gap: 25px;
		position: absolute;
		top: 50px;
		left: 0;

		.img-box {
			background: $white;
			width: 341px;
			height: 341px;
			border-radius: 10px;
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.more-tit {
		a {
			@include semibold-31;
		}
		&::after {
			font-size: 31px;
		}
	}	
}
.sec-04 {
	padding-bottom: 150px;
	.sec-04-contents {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.list-box {
		display: flex;
		flex-direction: row;
		width: 85%;
		padding-top: 20px;
		.list {
			width: 20%;
		}
		a {
			display: block;
			@include semibold-31;
			text-align: center;
		}
	}
}

// sec-05 TV CF
.sec-05 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 300px;
	.cf-img-box {
		display: flex;
		gap: 42px;
		.cf-img {
			width: 751px;
			height: 423px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.img-text {
		padding-top: 32px;
		span {
			@include medium-17;
		}
		p {
			@include semibold-27;
			padding-top: 8px;
		}
		}
	}
}

// 풋터
.ft-wrap {
	display: flex;
	flex-direction: column;
	max-width: 1280px;
	margin: 0 auto;
}
.ft-top-box {
	padding-top: 50px;
	padding-bottom: 27px;
	ul {
		display: flex;
		gap: 30px;
		a {
			@include medium-13;
		}
	}
}

.ft-box {
	display: flex;
	justify-content: space-between;
	span {
		@include medium-15;
	}
	.ft-goto {
		display: flex;
		gap: 10px;
		align-items: center;
		.goto-site {
			width: 185px;
			height: 45px;
			border: 1px solid $gray_E3;
			border-radius: 10px;
		}
		span {
			display: inline-block;
			padding: 11px 0;
			padding-left: 20px;
		}
	}
}