// icon
@mixin icon-up {
	&::after {
		content: "\f139";
		font-family: 'Line Awesome Free';
		font-size: 21px;
		font-weight: 900;
		position: absolute;
		top: 50%;
		right: 10%;
		transform: translateY(-50%);
		color: $txtDefault;
	}
}
@mixin icon-down {
	&::after {
		// content: "\f107";
		content: "\f13a";
		font-family: 'Line Awesome Free';
		font-size: 21px;
		font-weight: 900;
		position: absolute;
		top: 50%;
		right: 10%;
		transform: translateY(-50%);
		color: $txtDefault;
	}
}

// 폰트

//bold
@mixin bold-63 {
    font-size: 63px;
    font-weight: 700;
}

@mixin bold-51 {
    font-size: 51px;
    font-weight: 700;
}
@mixin bold-49 {
    font-size: 49px;
    font-weight: 700;
}
@mixin bold-41 {
    font-size: 41px;
    font-weight: 700;
}

@mixin bold-33 {
    font-size: 33px;
    font-weight: 700;
}

@mixin bold-31 {
    font-size: 31px;
    font-weight: 700;
}

@mixin bold-17 {
    font-size: 17px;
    font-weight: 700;
}

@mixin bold-15 {
    font-size: 15px;
    font-weight: 700;
}

// semibold
@mixin semibold-45 {
    font-size: 45px;
    font-weight: 600;
    line-height: 1.3;
}

@mixin semibold-31 {
    font-size: 31px;
    font-weight: 600;
}

@mixin semibold-27 {
    font-size: 27px;
    font-weight: 600;
}
@mixin semibold-25 {
    font-size: 25px;
    font-weight: 600;
}
@mixin semibold-23 {
    font-size: 23px;
    font-weight: 600;
}

@mixin semibold-21 {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.3;
}

@mixin semibold-20 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
}

@mixin semibold-19 {
    font-size: 19px;
    font-weight: 600;
}

@mixin semibold-17 {
    font-size: 17px;
    font-weight: 600;
}

@mixin semibold-15 {
    font-size: 15px;
    font-weight: 600;
}

// medium
@mixin medium-35 {
    font-size: 35px;
	font-weight: 500;
    line-height: normal;
}
@mixin medium-25 {
    font-size: 25px;
	font-weight: 500;
    line-height: normal;
}
@mixin medium-23 {
    font-size: 23px;
	font-weight: 500;
    line-height: normal;
}
@mixin medium-21 {
    font-size: 21px;
	font-weight: 500;
    line-height: normal;
}

@mixin medium-17 {
    font-size: 17px;
	font-weight: 500;
    line-height: normal;
}

@mixin medium-15 {
    font-size: 15px;
	font-weight: 500;
    line-height: normal;
}

@mixin medium-13 {
    font-size: 13px;
	font-weight: 500;
    line-height: normal;
}
@mixin medium-11 {
    font-size: 11px;
	font-weight: 500;
    line-height: normal;
}
@mixin medium-9 {
    font-size: 9px;
	font-weight: 500;
    line-height: normal;
}

// Regular
@mixin regular-45 {
    font-size: 45px;
	font-weight: 400;
    line-height: normal;
}
@mixin regular-30 {
    font-size: 30px;
	font-weight: 400;
    line-height: normal;
}
@mixin regular-21 {
    font-size: 21px;
	font-weight: 400;
    line-height: normal;
}
@mixin regular-19 {
    font-size: 19px;
	font-weight: 400;
    line-height: normal;
}
@mixin regular-17 {
    font-size: 17px;
	font-weight: 400;
    line-height: normal;
}
@mixin regular-15 {
    font-size: 15px;
	font-weight: 400;
    line-height: normal;
}
@mixin regular-13 {
    font-size: 13px;
	font-weight: 400;
    line-height: normal;
}

// light
@mixin light-45 {
    font-size: 45px;
	font-weight: 300;
    line-height: normal;
}
@mixin light-21 {
    font-size: 21px;
	font-weight: 300;
    line-height: normal;
}
@mixin light-19 {
    font-size: 19px;
	font-weight: 300;
    line-height: normal;
}
@mixin light-17 {
    font-size: 17px;
	font-weight: 300;
    line-height: normal;
}
@mixin light-15 {
    font-size: 15px;
	font-weight: 300;
    line-height: normal;
}
@mixin light-13 {
    font-size: 13px;
	font-weight: 300;
    line-height: normal;
}



