// colors
$txtDefault: #333333;
$primary: #ef383b;
$white: #ffffff;
$gray_C3: #c3c3c5;
$gray_E3: #e3e3e3;
$gray_E9: #e9e9e9;

// 폰트
$font-family: "Pretendard-Regular", "Malgun Gothic", "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
$font-size: 16px;

// 반응형 쿼리
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1216px;
// lg:992px
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1440px;
