// colors
$txtDefault: #333333;
$primary: #ef383b;
$white: #ffffff;
$gray_C3: #c3c3c3;
$gray_E3: #e3e3e3;
$gray_E9: #e9e9e9;
$gray_F8: #F8F8F8;
$beige : #FDFCFA;
$orange: #FEBE19;
$borderOrange: #E2AB03;

// 여백
$mb-padding: 22px;

// 폰트
$font-family: "Pretendard-Regular", "Malgun Gothic", "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
$font-size: 16px;

// 반응형 쿼리
$maxwidth: 1200px;
$breakpoint-mb: 576px; 

$breakpoint-sm: 576px; //까지 모바일
$breakpoint-md: 768px; //까지 태블릿
$breakpoint-lg: 992px; //까지 큰태블릿
$breakpoint-xl: 1280px; //까지 PC
$breakpoint-xxl: 1440px; //까지 전체 화면

