@import "variables", "mixins", "fonts", "resets";

* {
  font-family: "Pretendard", "pretendard-regular";
  font-size: 17px;
  color: $txtDefault;
}

#logo {
	width: 144px;
	height: 54px;
	text-align: center;
	background-image: url(../../images/comm/logo.png);
	background-size: cover;
	text-indent: -9999px;
	a {
		width: 100%;
		height: 100%;
		display: block;	}
}

.sec-tit {
	@include bold-55;
	line-height: 1.3
}

@import "main";
