@import "variables", "mixins", "fonts", "resets";

* {
  font-family: "Pretendard", "pretendard-regular";
  font-size: 16px;
  color: $txtDefault;
}

#logo {
	width: 144px;
	height: 54px;
	text-align: center;
	background-image: url(../../images/comm/logo.png);
	background-size: cover;
	text-indent: -9999px;
}

@import "main";
