@import "variables", "mixins", "fonts", "resets";

* {
  font-family: "Pretendard", "pretendard-regular";
  font-size: 17px;
  color: $txtDefault;
}

#logo {
	width: 144px;
	height: 54px;
	text-align: center;
	background-image: url(../../images/comm/logo.png);
	background-size: cover;
	text-indent: -9999px;
	a {
		width: 100%;
		height: 100%;
		display: block;	}
}

h3 {
	@include semibold-25;
	text-align: center;
}

.sec-tit {
	text-align: center;
	@include bold-49;
	line-height: 1.3;
	padding-top: 185px;
	// padding-bottom: 50px;
}
.sec-sub-tit {
	text-align: center;
	padding-top: 10px;
	@include light-21;
}

.sec-tit-box {
	padding-bottom: 63px;
}

// 더보기 
.more-tit {
	position: relative;
	display: inline-block;
	a {
		padding: 0;
		display: block;
		@include semibold-15;
		
		&::after {
			font-family: 'Line Awesome Free';
			content:"\f061";
			font-weight: 900;
			position: absolute;
			top: 50%;
			left: 105%;
			transform: translateY(-48%);
		}
	}
}

// 이미지
img {
	border-radius: 10px;
}

@import "main";
