@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -moz-appearance: checkbox;
       appearance: checkbox;
  -webkit-appearance: checkbox;
}

button {
  -moz-appearance: button;
       appearance: button;
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -moz-appearance: button;
       appearance: button;
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Pretendard", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #333333;
}

/* desktop */
@media screen and (min-width: 1216px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

* {
  font-family: "Pretendard", "pretendard-regular";
  font-size: 17px;
  color: #333333;
}

#logo {
  width: 144px;
  height: 54px;
  text-align: center;
  background-image: url(../../images/comm/logo.png);
  background-size: cover;
  text-indent: -9999px;
}
#logo a {
  width: 100%;
  height: 100%;
  display: block;
}

.sec-tit {
  text-align: center;
  font-size: 49px;
  font-weight: 700;
  line-height: normal;
  line-height: 1.3;
  padding-top: 185px;
}

.sec-sub-tit {
  text-align: center;
  padding-top: 10px;
  font-size: 21px;
  line-height: normal;
}

.sec-tit-box {
  padding-bottom: 63px;
}

.more-tit {
  position: relative;
  display: inline-block;
}
.more-tit a {
  padding: 0;
  display: block;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
}
.more-tit::after {
  font-family: "Line Awesome Free";
  content: "\f061";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 105%;
  transform: translateY(-48%);
}

img {
  border-radius: 10px;
}

.position-wrap {
  position: relative;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100px;
}
#header .hd-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  border-bottom: none;
  transition: all 0.1s ease;
}
#header .hd-inner {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  align-items: center;
  gap: 50px;
}
#header .nav-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #ffffff;
  width: 100%;
  height: 440px;
  display: none;
}

.nav-list {
  display: flex;
}
.nav-list .nav-list-depth1 {
  width: 190px;
}
.nav-list .nav-list-depth1 a {
  display: block;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.3;
  color: #ffffff;
  text-align: center;
  padding: 38px 0;
  transition: all 0.1s ease;
}
.nav-list .nav-list-depth2 {
  position: absolute;
  top: 100%;
  z-index: 100;
  display: none;
  padding-top: 20px;
}
.nav-list .nav-list-depth2 li {
  width: 190px;
}
.nav-list .nav-list-depth2 a {
  display: block;
  font-size: 17px;
  line-height: normal;
  font-weight: 500;
  color: #333333;
  padding: 13px 0;
  transition: all 0.1s ease;
}
.nav-list .nav-list-depth2 a:hover {
  color: #ef383b;
}

.main-video {
  width: 1920px;
}

.wrap {
  overflow: hidden;
}

.sec-01 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 48px 0 150px;
}
.sec-01 a {
  font-size: 17px;
  line-height: normal;
}
.sec-01 .contents {
  height: 130px;
}
.sec-01 .sec-01-tit {
  font-size: 19px;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 14px;
}
.sec-01 .more-tit a {
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
}
.sec-01 .news {
  width: 40%;
}
.sec-01 .news a {
  display: block;
  padding: 4.5px 0;
}
.sec-01 .social {
  width: 40%;
}
.sec-01 .social ul {
  display: flex;
  flex-wrap: wrap;
}
.sec-01 .social li {
  width: 44%;
}
.sec-01 .social a {
  display: block;
  padding: 4.5px 0;
}
.sec-01 .stock {
  width: 20%;
}
.sec-01 .stock .price {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sec-01 .stock .price p {
  font-size: 33px;
  font-weight: 700;
  line-height: normal;
}
.sec-01 .stock .date {
  display: block;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  padding-top: 10px;
}

.sec-02 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 260px;
  position: relative;
}
.sec-02 .sec-tit {
  padding: 0;
  text-align: left;
}
.sec-02 .sec-02-img {
  width: 55%;
}
.sec-02 img {
  width: 100%;
}

.sec-03 {
  background: #F8F8F8;
  height: 1410px;
}
.sec-03 .sec-tit {
  padding-bottom: 185px;
}
.sec-03 .more-tit {
  padding-bottom: 30px;
}
.sec-03 .more-tit a {
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
}
.sec-03 .more-tit::after {
  font-size: 31px;
  top: 27%;
}
.sec-03 .move-container {
  display: flex;
  gap: 25px;
  width: 100%;
}
.sec-03 .img-box {
  width: 185px;
  height: 185px;
  background: #ffffff;
  border-radius: 20px;
}
.sec-03 .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sec-03-contents {
  max-width: 1200px;
  height: 100%;
  margin: -22% auto;
  position: relative;
  overflow-x: hidden;
}

.sec-03-container {
  position: absolute;
  top: 20%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sec-03 .move-container {
  animation: moveleft 20s linear infinite;
}
.sec-03 .move-right {
  animation: moveleft 30s linear reverse infinite;
}
@keyframes moveleft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.sec-04 {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 150px;
  background: #ffffff;
}
.sec-04 .sec-04-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-04 .sec-04-contents .img-box {
  width: 90%;
}
.sec-04 .sec-04-contents img {
  width: 100%;
}
.sec-04 .list-box {
  display: flex;
  flex-direction: row;
  width: 85%;
  padding-top: 36px;
}
.sec-04 .list-box .list {
  width: 20%;
}
.sec-04 .list-box a {
  display: block;
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.sec-05-wrap {
  background: #F8F8F8;
}

.sec-05 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 300px;
  background: #F8F8F8;
}
.sec-05 .cf-img-box {
  display: flex;
  gap: 42px;
}
.sec-05 .cf-img-box .cf-img {
  width: 700px;
  height: 385px;
}
.sec-05 .cf-img-box .cf-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sec-05 .cf-img-box .img-text {
  padding-top: 32px;
}
.sec-05 .cf-img-box .img-text span {
  font-size: 17px;
  line-height: normal;
}
.sec-05 .cf-img-box .img-text p {
  font-size: 23px;
  font-weight: 600;
  line-height: normal;
  padding-top: 8px;
}

.ft-wrap {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  padding-bottom: 40px;
  position: relative;
}
.ft-wrap hr {
  display: block;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  width: 160%;
}

.ft-top-box {
  padding-bottom: 27px;
}
.ft-top-box ul {
  display: flex;
  gap: 30px;
}
.ft-top-box ul a {
  font-size: 13px;
  line-height: normal;
}

.ft-box {
  display: flex;
  justify-content: space-between;
}
.ft-box span {
  font-size: 15px;
  line-height: normal;
}
.ft-box .ft-goto {
  display: flex;
  gap: 10px;
  align-items: center;
}
.ft-box .ft-goto .goto-site {
  width: 185px;
  height: 45px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}
.ft-box .ft-goto span {
  display: inline-block;
  padding: 11px 0;
  padding-left: 20px;
}/*# sourceMappingURL=comm.css.map */