@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -moz-appearance: checkbox;
       appearance: checkbox;
  -webkit-appearance: checkbox;
}

button {
  -moz-appearance: button;
       appearance: button;
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -moz-appearance: button;
       appearance: button;
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Pretendard", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #333333;
}

/* desktop */
@media screen and (min-width: 992px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -45px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

* {
  font-family: "Pretendard", "pretendard-regular";
  font-size: 17px;
  color: #333333;
}

#logo {
  width: 144px;
  height: 54px;
  text-align: center;
  background-image: url(../../images/comm/logo.png);
  background-size: cover;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 20px;
  z-index: 1000;
}
#logo a {
  width: 100%;
  height: 100%;
  display: block;
}

h3 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.sec-tit {
  text-align: center;
  font-size: 49px;
  font-weight: 700;
  line-height: 1.3;
  padding-top: 185px;
}

.sec-sub-tit {
  text-align: center;
  padding-top: 10px;
  font-size: 21px;
  font-weight: 300;
  line-height: normal;
}

.sec-tit-box {
  padding-bottom: 60px;
}

.more-tit {
  position: relative;
  display: inline-block;
}
.more-tit a {
  padding: 0;
  display: block;
  font-size: 15px;
  font-weight: 600;
}
.more-tit a::after {
  font-family: "Line Awesome Free";
  content: "\f061";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 105%;
  transform: translateY(-48%);
}

img {
  border-radius: 10px;
}

@media screen and (max-width: 576px) {
  .sec-tit-box {
    width: 100%;
    padding-bottom: 40px;
  }
  .sec-tit {
    padding-top: 95px;
    text-align: center;
    font-size: 33px;
    font-weight: 700;
  }
  .sec-sub-tit {
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100px;
}
#header .mb-burger {
  display: none;
}
#header .hd-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  border-bottom: none;
  transition: all 0.1s ease;
}
#header .hd-inner {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
#header .input-burger {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
#header .nav-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #ffffff;
  width: 100%;
  height: 440px;
  display: none;
}

.nav-list {
  display: flex;
}
.nav-list .nav-list-depth1 {
  width: 190px;
}
.nav-list .nav-list-depth1 a {
  display: block;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.3;
  color: #ffffff;
  text-align: center;
  padding: 38px 0;
  transition: all 0.1s ease;
}
.nav-list .nav-list-depth2 {
  position: absolute;
  top: 100%;
  z-index: 100;
  display: none;
  padding-top: 20px;
}
.nav-list .nav-list-depth2 li {
  width: 190px;
}
.nav-list .nav-list-depth2 a {
  display: block;
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  font-weight: 500;
  color: #333333;
  padding: 13px 0;
  transition: all 0.1s ease;
}
.nav-list .nav-list-depth2 a:hover {
  color: #ef383b;
}

@media screen and (max-width: 576px) {
  #header .nav-bg {
    height: 0;
  }
  #header .hd-wrap {
    border-bottom: none;
  }
  #header .mb-burger {
    display: block;
  }
  #header .input-burger:checked ~ .gnb-wrap {
    transform: translateX(-100%);
  }
  #header .input-burger:checked ~ .label-burger .bar:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
    background: #333333;
  }
  #header .input-burger:checked ~ .label-burger .bar:nth-child(2) {
    display: none;
  }
  #header .input-burger:checked ~ .label-burger .bar:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
    background: #333333;
  }
  #header .label-burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1000;
  }
  #header .label-burger .bar {
    display: block;
    width: 23px;
    height: 3px;
    border-radius: 3px;
    background: #ffffff;
    transition: all 0.3s;
  }
  #header .gnb-wrap {
    position: absolute;
    top: 0;
    z-index: 10;
    background: #ffffff;
    width: 100%;
    height: 100vh;
    padding-top: 110px;
    transition: all 0.3s ease;
  }
  .nav-list {
    flex-direction: column;
  }
  .nav-list .nav-list-depth1 {
    width: 100%;
    padding: 0 22px;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
  }
  .nav-list .nav-list-depth1::before {
    content: "\f107";
    font-family: "Line Awesome Free";
    font-size: 21px;
    font-weight: 900;
    position: absolute;
    top: 36px;
    right: 5%;
    transform: translateY(-50%);
    color: #333333;
  }
  .nav-list .nav-list-depth1.active::before {
    content: "\f106";
    font-family: "Line Awesome Free";
    font-size: 21px;
    font-weight: 900;
    position: absolute;
    top: 36px;
    right: 5%;
    color: #333333;
  }
  .nav-list .nav-list-depth1 a {
    text-align: left;
    padding: 24px 0;
    color: #333333;
    cursor: pointer;
    font-size: 19px;
    font-weight: 600;
  }
  .nav-list .nav-list-depth2 {
    display: block;
    position: static;
    max-height: 0;
    opacity: 0;
    width: 100%;
    padding-top: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .nav-list .nav-list-depth2.active {
    max-height: 1000px;
    opacity: 1;
    padding-bottom: 10px;
  }
  .nav-list .nav-list-depth2 li {
    width: 100%;
  }
  .nav-list .nav-list-depth2 a {
    width: 100%;
    padding: 7px 0 10px 10px;
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
  }
}
.header-sub .nav-list-depth1 a {
  color: #333333;
}

@media screen and (max-width: 576px) {
  #header .label-burger-sub .bar {
    background: #333333;
  }
  .sub-nav-list {
    display: none;
  }
}
.position-wrap {
  position: relative;
  overflow-x: hidden;
}

.main-video {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .main-video {
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.wrap {
  overflow: hidden;
}

@media screen and (max-width: 576px) {
  .wrap {
    padding: 0 22px;
  }
}
.sec-01 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 100px;
}
.sec-01 a {
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
}
.sec-01 .contents {
  height: 130px;
}
.sec-01 .sec-01-tit {
  width: 100%;
  padding-bottom: 14px;
}
.sec-01 .sec-01-tit a {
  font-size: 19px;
  font-weight: 600;
}
.sec-01 .more-tit a {
  font-size: 15px;
  font-weight: 600;
}
.sec-01 .news {
  width: 40%;
}
.sec-01 .news a {
  display: block;
  padding: 4.5px 0;
}
.sec-01 .social {
  width: 40%;
}
.sec-01 .social ul {
  display: flex;
  flex-wrap: wrap;
}
.sec-01 .social li {
  width: 44%;
}
.sec-01 .social a {
  display: block;
  padding: 4.5px 0;
}
.sec-01 .stock {
  width: 20%;
}
.sec-01 .stock .price {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sec-01 .stock .price p {
  font-size: 33px;
  font-weight: 700;
}
.sec-01 .stock .date {
  display: block;
  font-size: 15px;
  font-weight: 600;
  padding-top: 10px;
}

@media screen and (max-width: 576px) {
  .sec-01 {
    flex-direction: column;
  }
  .sec-01 .contents-box {
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }
  .sec-01 .sec-01-tit {
    padding: 0;
  }
  .sec-01 .sec-01-tit a {
    display: block;
    width: 100%;
    padding: 22px 0;
  }
  .sec-01 .contents {
    display: none;
  }
  .sec-01 .more-tit {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  .sec-01 .more-tit a {
    padding: 37% 0;
  }
  .sec-01 .more-tit a::after {
    position: static;
    font-size: 19px;
  }
  .sec-01 .more-tit p {
    display: none;
  }
}
.sec-02 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 260px;
  position: relative;
}
.sec-02 .sec-tit {
  padding: 0;
  text-align: left;
}
.sec-02 .sec-tit-box {
  width: 68%;
}
.sec-02 .sec-sub-tit {
  text-align: left;
}
.sec-02 .sec-02-img img {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .sec-02 {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 142px;
  }
  .sec-02 .sec-02-img {
    width: 100%;
  }
  .sec-02 .sec-tit-box {
    width: 100%;
  }
}
.sec-03 {
  background: #F8F8F8;
  height: 1410px;
}
.sec-03 .sec-tit {
  padding-bottom: 5%;
}
.sec-03 .sec-tit br {
  display: none;
}
.sec-03 .more-tit {
  padding-bottom: 30px;
}
.sec-03 .more-tit a {
  font-size: 25px;
  font-weight: 500;
  line-height: normal;
}
.sec-03 .more-tit a::after {
  font-size: 31px;
  top: 27%;
}
.sec-03 .more-tit a:hover {
  color: #ef383b;
}
.sec-03 .move-container {
  display: flex;
  gap: 25px;
  width: 100%;
}
.sec-03 .img-box {
  width: 185px;
  height: 185px;
  background: #ffffff;
  border-radius: 20px;
}
.sec-03 .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sec-03-contents {
  max-width: 1670px;
  height: 100%;
  margin: -17% auto;
  margin-left: 14%;
  position: relative;
  overflow-x: hidden;
}

.sec-03-container {
  position: absolute;
  top: 20%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sec-03 .move-container {
  animation: moveleft 20s linear infinite;
}
.sec-03 .move-right {
  animation: moveleft 30s linear reverse infinite;
}
@keyframes moveleft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 576px) {
  .sec-03 {
    padding: 0 22px;
    height: 1030px;
  }
  .sec-03 .img-box {
    width: 127px;
    height: 127px;
  }
  .sec-03 .more-tit {
    padding-bottom: 15px;
  }
  .sec-03 .more-tit a {
    font-size: 23px;
    font-weight: 500;
    line-height: normal;
  }
  .sec-03 .more-tit a::after {
    transform: translateY(-41%);
  }
  .sec-03 .sec-tit br {
    display: block;
  }
  .sec-03-contents {
    margin-left: 0;
  }
  .sec-03-container {
    top: 9%;
  }
}
.sec-04 {
  max-width: 1200px;
  margin: 0 auto;
  height: 1070px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.sec-04 h3 {
  color: #c3c3c3;
}
.sec-04 .sec-tit-box br {
  display: none;
}
.sec-04 .sec-04-contents {
  display: flex;
  gap: 50px;
  margin-top: 45%;
}
.sec-04 .sec-04-contents .txt-box {
  cursor: pointer;
}
.sec-04 .txt-mb {
  display: none;
}
.sec-04 .img-box {
  display: none;
  width: 80%;
  position: relative;
}
.sec-04 .img-box .bnr-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.sec-04 .img-box .bnr-img-mb {
  display: none;
}

.tab-1 .bnr-text {
  width: 40%;
  position: absolute;
  top: 14%;
  left: 5%;
}

.tab-2 .bnr-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
}
.tab-2 .bnr-text img {
  width: 80%;
}
.tab-2 .bnr-text p {
  width: 105%;
  text-align: center;
  color: #ffffff;
}

.tab-3 .tab-box {
  display: flex;
  gap: 10px;
}
.tab-3 .tab-box .bnr-img {
  border-radius: 0;
}
.tab-3 .tab-box .bnr-text {
  width: 35%;
}
.tab-3 .tab-box .top-box {
  height: 46%;
  position: relative;
  border: 1px solid #c3c3c3;
  margin-bottom: 10px;
}
.tab-3 .tab-box .top-box .title {
  position: absolute;
  top: 5%;
  left: 5%;
}
.tab-3 .tab-box .top-box .title span {
  display: block;
  font-size: 17px;
  font-weight: 300;
  line-height: normal;
  padding: 7px 0;
}
.tab-3 .tab-box .top-box .title p {
  font-size: 45px;
  font-weight: 300;
  line-height: normal;
  font-weight: 100;
  line-height: 1.1;
}
.tab-3 .tab-box .top-box .date {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 19px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.5;
}
.tab-3 .tab-box .btm-box {
  background: #FEBE19;
  padding: 15px;
  height: 50%;
}
.tab-3 .tab-box .btm-box a {
  display: block;
}
.tab-3 .tab-box .btm-box a:nth-child(2) {
  border-bottom: 1px solid #E2AB03;
}
.tab-3 .tab-box .btm-box span {
  display: block;
  font-size: 19px;
  font-weight: 600;
  padding: 8px 0;
}
.tab-3 .tab-box .btm-box .web-txt {
  width: 80%;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  padding: 0 0 10px 0;
}

.tab-5 .bnr-text {
  width: 100%;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  font-size: 35px;
  font-weight: 500;
  line-height: normal;
  line-height: 1.3;
}
.tab-5 span {
  display: block;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: normal;
  padding-top: 10px;
}

.sec-04 .tab.active .img-box {
  display: block;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
}
.sec-04 .tab.active h3 {
  color: #333333;
}
.sec-04 .tab.active .txt-box {
  border-bottom: 5px solid #ef383b;
  padding-bottom: 5px;
}

@media screen and (max-width: 576px) {
  .sec-04 {
    padding: 0 22px;
    height: auto;
    padding-bottom: 150px;
  }
  .sec-04 .sec-tit-box br {
    display: block;
  }
  .sec-04 .tab {
    width: 45%;
  }
  .sec-04 .tab h3 {
    font-size: 19px;
    font-weight: 600;
    color: #333333;
  }
  .sec-04 .tab.active .txt-box {
    border-bottom: none;
    padding-bottom: 5px;
  }
  .sec-04 .tab.active .img-box {
    position: static;
    transform: none;
  }
  .sec-04 .tab .bnr-text {
    display: none;
  }
  .sec-04 .sec-04-contents {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
    gap: 0;
  }
  .sec-04 .mb-right {
    align-self: flex-end;
    margin-top: -35%;
  }
  .sec-04 .img-box {
    display: block;
    position: static;
    transform: none;
    width: 100%;
    height: 290px;
  }
  .sec-04 .img-box a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .sec-04 .img-box .bnr-img {
    display: none;
  }
  .sec-04 .img-box .bnr-img-mb {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 77% 0;
       object-position: 77% 0;
  }
  .sec-04 .txt-box {
    padding-top: 10px;
  }
  .sec-04 .txt-mb {
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    padding-top: 5px;
  }
  .sec-04 .tab-2 .bnr-img-mb {
    -o-object-position: 34% 0;
       object-position: 34% 0;
  }
  .sec-04 .tab-3 .bnr-img-mb {
    -o-object-position: 67% 0;
       object-position: 67% 0;
  }
  .sec-04 .tab-3 .tab-box {
    display: none;
  }
  .tab-4 .img-box .bnr-img-mb {
    -o-object-position: 66% 0;
       object-position: 66% 0;
  }
  .tab-5 .img-box .bnr-img-mb {
    -o-object-position: 7% 0;
       object-position: 7% 0;
  }
}
[data-aos=tab-aos-pc] {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-in-out;
}
[data-aos=tab-aos-pc].aos-animate {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (max-width: 576px) {
  [data-aos=tab-aos-pc] {
    transform: none;
  }
  [data-aos=tab-aos-pc].aos-animate {
    transform: none;
  }
}

[data-aos=tab-aos-mb] {
  transform: none;
}
[data-aos=tab-aos-mb].aos-animate {
  transform: none;
}
@media screen and (max-width: 576px) {
  [data-aos=tab-aos-mb] {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-in-out;
  }
  [data-aos=tab-aos-mb].aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
}

.sec-05-wrap {
  background: #F8F8F8;
  width: 100%;
  padding: 0 22px;
}

.sec-05 {
  padding-bottom: 150px;
}
.sec-05 .img-box {
  display: block;
  width: 100%;
}
.sec-05 .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.sec-05 .img-text {
  padding-top: 5px;
}
.sec-05 .img-text span {
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}
.sec-05 .img-text p {
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  padding-top: 3px;
  padding-bottom: 10px;
}
.sec-05 .img-text .more-tit {
  visibility: hidden;
}
.sec-05 .swiper-wrapper {
  position: relative;
  padding: 30px 0 170px;
}
.sec-05 .swiper-slide {
  transform: scale(0.7) translateY(20%);
  opacity: 0.5;
}
.sec-05 .swiper-slide.swiper-slide-next {
  transform: scale(1.2) translateY(20%);
  opacity: 1;
}
.sec-05 .swiper-slide.swiper-slide-next .more-tit {
  visibility: visible;
}

@media screen and (max-width: 576px) {
  .sec-05 {
    padding-bottom: 85px;
  }
  .sec-05 .swiper-wrapper {
    padding-bottom: 65px;
  }
  .sec-05 .swiper-slide {
    opacity: 1;
    transform: none;
  }
  .sec-05 .swiper-slide.swiper-slide-next {
    transform: none;
  }
}
#footer {
  position: relative;
}

.ft-wrap {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: 40px 0 50px 0;
}
.ft-wrap hr {
  display: block;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 10;
  width: 100%;
}

.ft-top-box {
  padding-bottom: 27px;
}
.ft-top-box ul {
  display: flex;
  gap: 30px;
}
.ft-top-box ul a {
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
}

.ft-box {
  display: flex;
  justify-content: space-between;
}
.ft-box span {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}
.ft-box .ft-goto {
  display: flex;
  gap: 10px;
  align-items: center;
}
.ft-box .ft-goto .goto-site {
  width: 185px;
  height: 45px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  position: relative;
}
.ft-box .ft-goto .goto-site.active span::after {
  content: "\f139";
  font-family: "Line Awesome Free";
  font-size: 21px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  color: #333333;
}
.ft-box .ft-goto span {
  display: inline-block;
  padding: 11px 0;
  padding-left: 20px;
}
.ft-box .ft-goto span::after {
  content: "\f13a";
  font-family: "Line Awesome Free";
  font-size: 21px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  color: #333333;
}

.ft-goto .goto-site {
  position: relative;
}
.ft-goto .goto-list {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  background: #F8F8F8;
  width: 100%;
  z-index: 100;
}
.ft-goto .goto-list a {
  display: block;
  width: 100%;
  padding: 5px 0;
  padding-left: 20px;
}

@media screen and (max-width: 576px) {
  .ft-wrap {
    padding: 40px 22px;
  }
  .ft-box {
    flex-direction: column;
    gap: 30px;
  }
  .ft-box span {
    font-size: 17px;
    font-weight: 600;
  }
  .ft-box .ft-goto {
    flex-direction: column;
  }
  .ft-box .ft-goto .goto-site {
    width: 100%;
  }
  .ft-box .ft-goto .goto-list a {
    padding: 15px 20px;
  }
  .ft-top-box hr {
    display: none;
  }
  .ft-top-box ul a {
    font-size: 15px;
    font-weight: 600;
  }
  .ft-top-box li:nth-child(2) {
    display: none;
  }
  .ft-top-box li:nth-child(4) {
    display: none;
  }
  .ft-adress {
    display: none;
  }
  .ft-number {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .ft-number span {
    display: block;
    font-size: 17px;
    font-weight: 500;
    line-height: normal;
  }
  .ft-copyright {
    margin-top: 10px;
  }
  .ft-copyright span {
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
  }
}
.header-sub {
  background: #ffffff;
  border-bottom: 1px solid #c3c3c3;
}

.sub-nav-list {
  padding-top: 101px;
  background: #FDFCFA;
}
.sub-nav-list ul {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.sub-nav-list ul a {
  display: block;
  text-align: center;
  padding: 15px 20px;
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
}
.sub-nav-list ul .active {
  color: #ef383b;
}

.sub-banner {
  position: relative;
}
.sub-banner .bnr-img {
  height: 400px;
}
.sub-banner .bnr-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(28%);
  border-radius: 0;
}
.sub-banner .bnr-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-banner .bnr-text img {
  display: block;
  width: 75%;
  margin: 0 auto;
}
.sub-banner .bnr-text p {
  text-align: center;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  line-height: 1.7;
  margin-top: 10px;
}

@media screen and (max-width: 576px) {
  .sub-banner {
    padding-top: 101px;
  }
  .sub-banner .bnr-img {
    height: 300px;
  }
  .sub-banner .bnr-text {
    transform: translate(-50%, -30%);
  }
  .sub-banner .bnr-text img {
    width: 100%;
  }
  .sub-banner .bnr-text p {
    display: block;
    width: 150%;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    line-height: 1.7;
  }
}
.wrap {
  background: #ffffff;
}

.contents-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.contents-wrap .contents {
  display: flex;
  gap: 50px;
  padding: 50px 70px;
  background: #F8F8F8;
  position: relative;
}
.contents-wrap .contents .class-box {
  border: 1px solid #d0021b;
  width: 36%;
  height: 385px;
}
.contents-wrap .contents .class {
  border: 1px solid #d0021b;
  height: 96%;
  margin: 8px;
  position: relative;
}
.contents-wrap .contents .class img {
  display: none;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: #F8F8F8;
  padding: 0 10px;
}
.contents-wrap .contents .class .class-number {
  font-size: 21px;
  font-weight: 600;
  line-height: 1.3;
  color: #d0021b;
  text-align: center;
  padding-top: 40px;
}
.contents-wrap .contents .class-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 20%;
}
.contents-wrap .contents .class-text h2 {
  font-size: 41px;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
}
.contents-wrap .contents .class-text p {
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  line-height: 1.5;
}
.contents-wrap .contents .text-box {
  width: 74%;
  padding: 5% 0;
}
.contents-wrap .contents .text-box h3 {
  font-size: 27px;
  font-weight: 600;
  text-align: left;
}
.contents-wrap .contents .text-box .class-list {
  padding-top: 10px;
}
.contents-wrap .contents .text-box .class-list li {
  padding: 3px 0;
}
.contents-wrap .contents .start-btn {
  position: absolute;
  right: 5%;
  bottom: 10%;
  border: 1px solid #c3c3c3;
  background: #ffffff;
  transition: all 0.5s ease;
}
.contents-wrap .contents .start-btn a {
  display: block;
  padding: 10px 43px;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 3px;
  transition: all 0.5s ease;
}
.contents-wrap .contents .start-btn:hover {
  background: #d0021b;
  border: none;
}
.contents-wrap .contents .start-btn:hover a {
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .contents-wrap .contents {
    padding: 0;
  }
  .contents-wrap .contents .class-box {
    width: 100%;
  }
  .contents-wrap .contents .text-box {
    display: none;
  }
  .contents-wrap .contents .start-btn {
    right: 50%;
    transform: translateX(50%);
  }
  .contents-wrap .contents .class2 {
    padding-top: 12%;
  }
  .contents-wrap .contents .class-text h2 {
    font-size: 35px;
    font-weight: 600;
  }
}/*# sourceMappingURL=comm.css.map */